@use '@angular/material' as mat;
@use './colors' as *;

// Include the common styles for Angular Material.
@include mat.core();

// Define the palettes for your theme using the colors you specified.
$token-exchange-primary: mat.define-palette(
  (
    50: #eaf7f1,
    100: #ccecdd,
    200: #aaddc7,
    300: #88ceb1,
    400: #6cc19f,
    500: $primary-500,
    600: $primary-600,
    700: #59af83,
    800: #4fa579,
    900: #3c9468,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #000000,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
    ),
  )
);

$token-exchange-accent: mat.define-palette(
  (
    50: $text-high,
    100: #b4b4b4,
    200: #818181,
    300: $text-mid,
    400: $neutral-1,
    500: $base,
    600: #050505,
    700: #040404,
    800: #030303,
    900: #020202,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
    ),
  )
);

// Define a default warn palette.
$token-exchange-warn: mat.define-palette(mat.$red-palette);

// Create the theme object.
$token-exchange-theme: mat.define-light-theme(
  (
    color: (
      primary: $token-exchange-primary,
      accent: $token-exchange-accent,
      warn: $token-exchange-warn,
    ),
  )
);

// Apply the theme to all Angular Material components.
@include mat.all-component-themes($token-exchange-theme);
