@use 'libs/ui/src/theme/colors.scss' as *;

:host {
  width: 100%;
  margin-top: 16px;
}

.when-input {
  display: block;
  margin-bottom: 16px;
}

.cta-button {
  width: 100%;
  display: block;
  margin-top: 16px;
}

.exchange-rate-info {
  text-align: center;
}
